@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Inter", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141414;
    height: 100vh;
}
p{
    color: white;
    line-height: 150%;
   
}
img{
    border-radius: 100%;
}
.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 40px;
}
.name{
    font-weight: 700;
    font-size: 26px;
}
.city{
    font-weight: 600;
    font-size: 15px;
    color: #c4f82a;
}
.descrition{
    padding-top: 10px;
}
.important{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
}
.links{
    display:inline-flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

}

a{
    background-color: #333333;
    text-decoration: none;
    font-weight: 500;
    color: white;
    text-align: center;
    line-height: 150%;
    border-radius: 10px;
    padding: 15px 0;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    box-shadow: none;
}

a:hover{
    background-color: #c4f82a;
    color:black;
    box-shadow:  1px 1px 20px rgba(196, 248, 42, 0.8);
}