
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center ;
    background-color: #d5e1ef;
    height: 100vh;
}

.externa{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px ;
    padding: 16px 16px 40px 16px;
    gap: 24px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 20%);
    
}

.texts{
    font-family: 'Outfit', sans-serif;
    
}
.bold{
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    line-height: 120%;
    letter-spacing: 0px;
    padding-bottom: 24px;
}
.regular{
    font-size: 15px;
    text-align: center;
    line-height: 140%;
    letter-spacing: 0.2px;
}
img{
    border-radius: 10px;
}
